:root {
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 22px;
  --font-size-xl: 26px;
  --font-size-xxl: 30px;
  --font-size-3xl: 34px;

  --foreground: #000;
  --today-trail-color: #009BB8;
  --past-trail-color: #F9E8E9;
  --future-trail-color: #FF9A98;
  --header-bg: rgba(255, 255, 255, 0.3);
  --footer-text: #767676;
  --color-go-back: #024059;
  --desktop-wrapper-color: #FFE5E5;
  
  --mobile-background: url('../public/Mobile_Background.png') center/cover no-repeat;
  --desktop-background: url('../public/Desktop_Background.png') center/cover no-repeat;
  --background: var(--mobile-background);
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  filter: blur(8px);
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(96%);
  height: 94px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: var(--header-bg);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow: 0 4px 12px var(--background);
  z-index: 1;
}

.logo {
  height: 60px;
  width: auto;
}

.icons {
  display: flex;
  gap: 8px;
  margin-right: 4px;
}

.icon {
  font-size: var(--font-size-lg);
  color: var(--foreground);
  cursor: pointer;
  padding-right: 5px;
}

.hero {
  text-align: left;
  padding: 80px 20px 10px 20px;
  color: var(--foreground);
  font-size: var(--font-size-lg);
  font-weight: 500;
  margin-top: 50px;
}

.add-icon {
  font-size: var(--font-size-xl);
  color: var(--foreground);
  cursor: pointer;
  margin-left: auto;
  transform: scale(1.2);
  margin-bottom: 10px;
  margin-top: 20px;
}

.no-trails-text {
  font-size: var(--font-size-lg);
  color: var(--foreground);
  font-weight: 500;
  margin-right: auto;
  margin-right: 10px;
  line-height: 31.2px;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trails-container {
  width: 100%;
  flex: 1;
  padding: 10px 20px;
  box-sizing: border-box;
}

.trail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  margin-bottom: 15px;
  border-radius: 18px;
  background: var(--trail-bg);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px var(--background);
}

.trail-text {
  flex-grow: 1;
  font-size: var(--font-size-md);
  font-weight: 500;
}

.trail-actions {
  display: flex;
  gap: 12px;
}

.trail-icon, .edit-icon, .delete-icon, .arrow-icon {
  font-size: var(--font-size-lg);
  color: var(--foreground);
  cursor: pointer;
}

.trail-details {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  padding: 0 20px;
  font-size: var(--font-size-base);
  color: var(--foreground);
}

.trail-details.expanded {
  max-height: 200px; 
  opacity: 1;
  margin-top: 10px;
}

.arrow-icon {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.arrow-icon.rotated {
  transform: rotate(180deg);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: var(--font-size-sm);
  color: var(--footer-text);
  padding: 20px;
  text-align: center;
}

.footer p,
.footer a {
  margin: 0;
  line-height: 1;
}

.footer a {
  color: var(--background);
}

.icons-container {
  padding: 8px 12px;
  border-radius: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.past-trail {
  background: var(--past-trail-color);
  opacity: 70%;
  border-style:groove;
  border-color: var(--footer-text);
}

.today-trail {
  background: var(--today-trail-color);
  opacity: 70%;
  border-style:groove;
  border-color: var(--footer-text);
}

.future-trail {
  background: var(--future-trail-color);
  opacity: 70%;
  border-style:groove;
  border-color: var(--footer-text);
}

.company-name {
  font-size: var(--font-size-lg);
  font-weight: bold;
  color: var(--foreground);
  margin-left: 12px;
  display: none;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {

  html, body {
    background: var(--desktop-background);
    font-size: var(--font-size-base);
  }

  .hero-header {
    margin-top: 0px;
  }

  .login-container {
    width: 100%;
    max-width: 500px;
    margin: 150px auto;
    padding: 40px;
    background-color: var(--background);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }

  .trails-heading {
    margin-bottom: 0px;
  }

  .login-form h1 {
    font-size: var(--font-size-xl);
  }

  .login-form p {
    font-size: var(--font-size-md);
  }

  .mail input,
  input[type="password"] {
    font-size: var(--font-size-base);
    padding: 12px;
  }

  .background-container {
    filter: blur(4px);
  }

  .header {
    width: 93.5%;
    padding: 20px 32px;
    height: 100px;
  }

  .logo {
    height: 70px;
  }

  .hero {
  text-align: left;
  padding: 10px 20px 10px 20px;
  color: var(--foreground);
  font-size: var(--font-size-lg);
  font-weight: 500;
        }

  .trail {
    padding: 24px 32px;
  }

  .trail-text {
    font-size: var(--font-size-lg);
  }

  .footer {
    font-size: var(--font-size-sm);
    padding: 10px 40px;
    color: var(--foreground);
    text-align: center;
  }

  .company-name {
    display: inline-block;
  }

  .desktop-wrapper {
    background-color: var(--desktop-wrapper-color);
    width: 66.67%;
    max-width: 1100px;
    margin: 160px auto 0;
    padding: 40px;
    border-radius: 20px;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
  }

}
